header {
  width: 100%;
  min-height: 200px;
  padding: 40px 165px 82px 165px;
  position: relative;
  overflow-x: hidden;

  @media (max-width: 992px) {
    padding: 40px 40px 82px 40px;
  }

  @media (max-width: 700px) {
    padding: 40px 24px 82px 24px;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 40px;
      margin-left: 64px;

      @media (max-width: 700px) {
        display: none;
      }

      li {
        a {
          color: $San-Juan-Blue;
          font-family: $Sans;
          font-size: $Psize;
          font-weight: 700;
        }
      }
    }

    .btn {
      @include pinkButton();

      @media (max-width: 700px) {
        display: none;
      }
    }

    #menu {
      display: none;

      @media (max-width: 700px) {
        display: inline-block;
        margin-left: auto;
      }
    }
  }
}
